.custom-tooltip {
    background: rgb(53, 53, 53);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    z-index: 101;
  }
  .linechart-controls-container{
    position: relative;
  }

  .linechart-controls{
    position: absolute;
    top: -24px;
    right: 24px;
    z-index: 100;
  }
  /* .linechart-controls > button {
    margin: 0 5px;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a4a9fc;
    border: none;
  } */